* {
    font-family: sans-serif;
}

body {
    background-color: slateblue;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



body > h1 {
    color: white;
    font-size: 2rem;

    margin-bottom: 50px;
}

.calculator {
    background-color: white;

    height: auto;
    width: auto;

    padding: 20px 10px 20px 10px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    gap: 15px;
}

#log {
    resize: none;
}